<h1>My Profile</h1>
<div class="content">
<table>
<tr>
<td>Full Name</td>
<td>: Kavya H S</td>
</tr>
<tr>
<td>Date of Birth</td>
<td>: 08th January 1992</td>
</tr>
<tr>
<td>Qualification</td>
<td>: B.E.</td>
</tr>
</table>
<p>Contact Details</p>
<table class="contactD">
<tr>
<td>Phone no</td>
<td>: 9164278477</td>
</tr>
<tr>
<td>Email ID</td>
<td>: kavyahs.hosur@gmail.com</td>
</tr>
<tr>
<td>Address</td>
<td>: Hosur village, Gorur Post,<br> Arakalagud Taluk,Hassan Pincode-573120</td>
</tr>
</table>
</div>
<div class="image">
<img src="https://lh4.googleusercontent.com/-W_ZwfHJFv3c/AAAAAAAAAAI/AAAAAAAAAAA/iN4kUxlN-8w/photo.jpg" alt="Kavya H S" width="1000px" hieght="100px">
</div>
